{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %} Checkout {% endblock %}

{% block content %}
<!--Main layout-->
  <main class="mt-5 pt-4">

    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Billing Address</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">
            {% if order.billing_address %}
            
            <div class="card-body">

              <!--address-->
              <div class="row">
                <div class="col-12 mb-4">
                  <label>Address</label>
                  <span class="form-control">{{order.billing_address.street_address}}</span>
                </div>
              </div>
          
              
              <!--address-2-->
              <div class="row">
                <div class="col-12 mb-4">
                  <label>Address 2</label>
                  <span class="form-control">{% if order.billing_address.apartment_address %}order.billing_address.apartment_address{% endif %}</span>
                </div>
              </div>
          
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  <span class="form-control">{{order.billing_address.country.name}}</span>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
          
                  <label>Zip</label>
                  <span class="form-control">{{order.billing_address.zip_code}}</span>
          
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
          
              <div class="mb-3">
                <label>Information saved</label>
                <span class="form-control">{% if order.billing_address.save_info %} Yes {% else %} No {% endif %}</span>
              </div>
                    
          </div>

            {% else %}
            <!--Card content-->
            <form id="billingAddressForm" class="card-body" method="post">
              {% csrf_token %}

              <!--address-->
              <div class="md-form mb-5">
                {{ form.street_address }}
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                {{form.apartment_address}}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{form.country}}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  {{form.zip_code}}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <div class="custom-control custom-checkbox mb-3">
                <input {%if form.save_info.value%}checked{%endif%} type="checkbox" name="save_info" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>

              <button class="btn btn-primary btn-block">Continue to checkout</button>
  
            </form>

            {% if addresses %}
              <hr>
              <form method="post" class="card-body">
                {% csrf_token %}
              <strong>or</strong><p>select from my saved addresses</p>
              <div class="row mt-4 mb-4">
                <div class="col-4" >
                  <select name="recent-addresses" class="custom-select d-block w-100" id="recentAddress" required>
                    <option value="">---------</option>
                    {% for address in addresses %}
                    <option value="{{address.id}}">{{address.content}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-primary btn-block mt-2">Continue to checkout</button>
                </div>
              </div>
              </form>
              {% endif %}

            {% endif %}
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{order.count_all_items}}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{order_item.quantity}} x {{order_item.item.title}}</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">${{order_item.total_item_price}}</span>
            </li>
            {% endfor %}
            <li class="pr-code-class list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code (%{{order.promo_code.discount_value}})</h6>
                <small>{% if order.promo_code %} {{order.promo_code.code}} {% else %}  {% endif %}</small>
              </div>
              <span class="text-success">$-{{order.discount_amount}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong id="totalAfterDiscount">${{order.total_after_discount}}</strong>
            </li>
          </ul>
          <!-- Cart -->
          {% if order.promo_code %}
          {% else %}
          <!-- Promo code -->
          <form id="promoCodeForm" class="card p-2">
            {% csrf_token %}
            <div class="input-group">
              <input required name="promocode-input" type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->
          {% endif %}

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}

{% block script %}

<script>
  $('#promoCodeForm').on('submit', function(e){
    e.preventDefault();
    serializedFormData = $(this).serialize();
    $.ajax({
      url: "{% url 'core:validate_promocode' %}",
      type: 'POST', 
      data: serializedFormData,
      success : function (res) {
        if (res.success) {
          $('.pr-code-class > div > h6').text('Promo code (%'+res.percent+')');
          $('.pr-code-class > span').text('$-'+res.deducted);
          $('.pr-code-class > div > small').text(res.code);
          $('#totalAfterDiscount').text(res.total);
          $('#promoCodeForm').remove();
        }else{
          alert(res.status)
        }
      }

    })
  });


</script>

{% endblock %}