{% extends 'base.html' %}
{% load static %}

{% block head_title %} Product {% endblock %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">

    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{item.main_image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{item.get_category_display}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              {% if item.old_price %}
              <span class="mr-1">
                <del>{{item.old_price}}</del>
              </span>
              {% endif %}
              <span>${{item.price}}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{item.description}}</p>

              <!-- Default input -->
                {% if user.is_authenticated %}
                <a id="addToCart" class="btn btn-primary btn-md my-0 p">Add to cart</a>
                {% else %}
                <strong>Please sign in to add to your cart</strong>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-md my-0 p">Sign in</a>
                {% endif %}


          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{item.info}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">
        {% for instance in item.images.all %}
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="{{instance.image.url}}" class="img-fluid" alt="">
        </div>
        {% endfor %}
      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}


{% block script %}

<script>
  $("#addToCart").on('click', function(){
    $.ajax({
    url: "{% url 'core:add_to_cart' item.slug %}",
    type: 'GET',
    success: function(res) {
        $('#cartCounter').text(res.cart)
        if (res.quantity) {
          alert(res.status+res.quantity);
        }else{
          alert(res.status);
        }

    }
});

  });
</script>

{% endblock %}