{% extends 'base.html' %}
{% load static %}

{% block head_title %} Order Summary {% endblock %}

{% block content %}


  <!--Main layout-->
  <main>
    {% if messages %}
    <div class="row mt-4">
      <div class="col-12 text-center mt-5">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="container" style="margin-top: 100px;">
      <div class="container float-right">
        <a href="{% url 'core:index' %}" class="btn btn-primary float-right">Continue Shopping</a>                     
      </div>
      <br>
      <br>
      {% for order in orders %}
        
          <div class="table-responsive">
            <h2> Order {{ forloop.counter }} </h2>
            {% if order.items.all %}
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Item</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order_item in order.items.all %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ order_item.item.title }}</td>
                      <td>${{ order_item.item.price }}</td>
                      <td>{{ order_item.quantity }}</td>
                      <td>${{ order_item.total_item_price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <th scope="row"></th>
                      <td colspan="3">Total Price</td>
                      <td colspan="2">${{order.total_price}}</td>
                    </tr>
                  </tbody>
            </table>
            {% endif %}
        </div>
      {% empty %}
        <div class="col-12 display-6 text-center"><strong>No Purchased orders</strong></div>
      {% endfor %}
      
    </div>
  </main>
  <!--Main layout-->
{% endblock %}
